obj/Debug/*

bin/Debug/*

obj/Debug/DesignTimeResolveAssemblyReferences\.cache

obj/Debug/DesignTimeResolveAssemblyReferencesInput\.cache

bin/Debug/HomeCare\.exe

bin/Debug/HomeCare\.pdb

obj/Debug/HomeCare\.exe

obj/Debug/HomeCare\.pdb

obj/Debug/HomeCare\.vbproj\.FileListAbsolute\.txt

obj/Debug/HomeCare\.vbproj\.GenerateResource\.Cache

obj/Debug/

\.vs/HomeCare/v15/

bin/Debug/

\.vs/HomeCare/v14/

bin/x86/Debug/

obj/x86/Debug/

obj/x86/Release/

bin/x86/Release/

packages/Microsoft\.Office\.Interop\.Excel\.dll
