
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/HomeCare.exe
obj/Debug/HomeCare.pdb
obj/Debug/HomeCare.vbproj.FileListAbsolute.txt
obj/Debug/HomeCare.vbproj.GenerateResource.Cache
*.pdb
*.exe
