<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HomeCare.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HomeCare.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings/>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <appSettings>
    <add key="DBPath" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <HomeCare.My.MySettings>
      <setting name="DBPath" serializeAs="String">
        <value />
      </setting>
      <setting name="dni" serializeAs="String">
        <value />
      </setting>
      <setting name="nivel" serializeAs="String">
        <value />
      </setting>
      <setting name="DBBackupPath" serializeAs="String">
        <value />
      </setting>
      <setting name="modoOficina" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="checksumDB" serializeAs="String">
        <value />
      </setting>
      <setting name="cognito" serializeAs="String">
        <value />
      </setting>
      <setting name="poolID" serializeAs="String">
        <value>us-east-1_kpEVsMtA3</value>
      </setting>
      <setting name="clientID" serializeAs="String">
        <value>289f8sb40ovi92igk4m338t9f8</value>
      </setting>
      <setting name="apiUser" serializeAs="String">
        <value>hcapi</value>
      </setting>
      <setting name="apiPassword" serializeAs="String">
        <value>;L:jK%tF/Gqs^%s,a-L'8G</value>
      </setting>
    </HomeCare.My.MySettings>
  </userSettings>
  <applicationSettings>
    <HomeCare.My.MySettings>
      <setting name="HomeCareConnectionString" serializeAs="String">
        <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source="C:\Users\jmpcb\Google Drive\homeCare.accdb"</value>
      </setting>
    </HomeCare.My.MySettings>
  </applicationSettings>
</configuration>
